.nav{
    background-color: #6c718f;
    color: white;
    
}

.card{
margin-top: 10px;
}

.uvBord{
    border: 0 solid black;
    border-radius: 9%;
    padding: 2px;
    
}


.okay {
    background-color: orange;
    color: white;
}

.good {
    background-color: green;
    color: white;
}

.bad {
    background-color: red;
    color: white;
}

#c1, #c2,#c3,#c4,#c5 {
    background-color:#0970cc;
    color: white;
    
}